<% layout('/layouts/default.html', {title: '申请预约管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('申请预约管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('kube:apply:kubeApply:edit')){ %>
					<a href="${ctx}/kube/apply/kubeApply/oneForm?type=1" class="btn btn-default btnTool" title="${text('新增申请预约')}"><i class="fa fa-plus"></i> ${text('个人预约')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${kubeApply}" action="${ctx}/kube/apply/kubeApply/oneListData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">

				<div class="form-group">
					<label class="control-label">${text('课程')}：</label>
					<div class="control-inline">
						<#form:hidden path="type" value="1"/>
						<#form:input path="courseId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('开始时间')}：</label>
					<div class="control-inline">
						<#form:input path="startDate" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('结束时间')}：</label>
					<div class="control-inline">
						<#form:input path="endDate" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("课程名")}', name:'kubeCourse.courseName', index:'c1.course_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
                return '<a href="${ctx}/kube/apply/kubeApply/oneForm?id='+row.id+'" class="btnList" data-title="${text("编辑申请预约")}">'+(val||row.id)+'</a>';
            }},
		{header:'${text("开始时间")}', name:'startDate', index:'a.start_date', width:150, align:"center"},
		{header:'${text("结束时间")}', name:'endDate', index:'a.end_date', width:150, align:"center"},
		{header:'${text("类型")}', name:'type', index:'a.type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('kube_apply_type')}, val, '${text("未知")}', true);
		}},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('kube:apply:kubeApply:edit')){ %>
				actions.push('<a href="${ctx}/kube/apply/kubeApply/oneForm?id='+row.id+'" class="btnList" title="${text("编辑申请预约")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/kube/apply/kubeApply/delete?id='+row.id+'" class="btnList" title="${text("删除申请预约")}" data-confirm="${text("确认要删除该申请预约吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});

</script>